<div id="profile_image" class="large-4 columns">
	<%= image_tag "nick.jpg" %>
</div>

<div class="large-8 columns">
	<h1>About Me</h1>
	<p>Hi, I'm Nick. I reside in the greater New York City area.</p>
	<p>I build web apps using Ruby on Rails, and iOS apps.</p>
	<p> You're more than welcome to reach out to me regarding my projects, this very site, and whatever else. You can find me most places on the internet.</p>
	<ul class="social-links">
		<li class="social-link-item"><div class="social-link-item-site">Email</div><div class="social-link-item-link"><a href="mailto:calabro.nick@gmail.com">Calabro.Nick@gmail.com</a></div></li>

		<li class="social-link-item"><div class="social-link-item-site">Twitter</div><div class="social-link-item-link"><a href="http://twitter.com/nickcalabs">@NickCalabs</a></div></li>

		<li class="social-link-item"><div class="social-link-item-site">GitHub</div><div class="social-link-item-link"><a href="http://github.com/nickcalabs">NickCalabs</a></div></li>

		<li class="social-link-item"><div class="social-link-item-site">LinkedIn</div><div class="social-link-item-link"><a href="http://linkedin.com/in/nickcalabro">Nick Calabro</a></div></li>
	</ul>
</div>