<div id="page_wrapper">
	<div class="row">
		<div id="profile_image" class="large-4 columns">
			<%= image_tag "nick.jpg" %>
		</div>

		<div class="large-8 columns">
			<h1>About Me</h1>
			<p>Hi, I'm Nick. I reside in the greater New York City area.</p>
			<p>I build web apps using Ruby on Rails, and iOS apps. I try to write about
				everything here.</p>
				<p> You're more than welcome to reach out to me regarding my projects,
					this very site, and whatever else. You can find me most places on the 
					internet - I'd love if you'd <a href="mailto:calabro.nick@gmail.com">Email
				</a> or <a href="http://twitter.com/nickcalabs">Tweet</a> me.
			</p>
		</div>
	</div>
</div>