<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "nick.jpg" %>
	</div>

	<div id="content">
		<h1>I'm Nick</h1>
		<p>This is my site</p>
		<p>I trust you'll enjoy it</p>
		<p><a href="twitter.com/nickcalabs">Twitter</a></p>
	</div>
</div>
