
	<h5>Hi, I'm Nick. I am an iOS and Rails developer. The site you're viewing is a simple Blog written in Ruby on Rails. The posts below will walk you through the steps to build it yourself. You can view the project on GitHub <a href="https://github.com/NickCalabs/BuildThisBlog">here</a> and follow me on on Twitter <a href="http://twitter.com/nickcalabs">here</a>.</h5><br>
	<h2 class="recent">Recent Posts</h2>

	<% @posts.each do |post| %>
		<h3 class="title"><%= link_to post.title, post%></h3>
		<div class="blurb"><span class="date"><%= post.created_at.strftime("%B %d, %Y") %></span> <%= post.blurb %></div><br>
	<% end %>
